.newslist {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 24px -16px 0;
	overflow: hidden;
	&::before,
	&::after {
		order: 1;
		content: "";
		display: block;
		flex: 1 1 0;
		box-sizing: border-box;
		width: 32%;
		width: calc(33% - 32px);
		min-width: 376px;
		margin: 0 16px;
		padding: 0 24px;
	}

	.news_card {
		background: #fff;
		border-radius: 8px;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04), 0px 2px 8px rgba(0, 0, 0, 0.08);
		margin: 0 auto;
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		width: 32%;
		width: calc(33% - 32px);
		min-width: 376px;
		margin: 16px;
		padding: 20px 24px;
		a.news_rubric {
			color: #60759a;
			text-transform: lowercase;
			font-size: 14px;
			text-decoration: none;
			display: block;
		}
		.news_header {
			height: 72px;
			font-size: 20px;
			line-height: 24px;
			color: #2a2a2a;
			margin-top: 20px;
			a.news_url {
			color: #2a2a2a;
			text-decoration: none;

			}
		}
		.news_image_container {
			margin: 24px 0;
			img.news_image {
				width: 100%;
				height: 180px;
				border-radius: 8px;
				object-fit: cover;
			}
		}
		.news_footer {
			margin-top: auto;
			font-size: 14px;
			line-height: 24px;
			display: flex;
			justify-content: space-between;
			.counters {
				margin-left: auto;
				.icon {
					margin-left: 16px;
					display: inline-block;
					&:first-of-type {
						margin-left: 0;
					}
				}
			}
		}
		.icon {
			color: #60759A;
			font-size: 14px;
			line-height: 16px;
			padding: 4px;
			padding-left: 28px;
			background: no-repeat left;
			&.icon-likes {
				background-image: url('./likes.svg');
			}

			&.icon-comments {
				background-image: url('./comments.svg');
			}

			&.icon-download {
				background-image: url('./download.svg');
				height: 24px;
				width: 24px;
				vertical-align: middle;
				padding: 0;
			}
		}
	}

	.showmore {
		flex: 1 0 100%;
		order: 3;
		height: 56px;
		margin-top: 32px;
		text-align: center;
		background: linear-gradient(
			to bottom,
			transparent 0,
			transparent 29px,
			rgba(#154373, 0.15) 29px,
			rgba(#154373, 0.15) 30px,
			transparent 30px,
			transparent 100%
		);

		button {
			line-height: 56px;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
			color: #fff;
			font-size: 16px;
			font-weight: 400px;
			font-family: -apple-system, BlinkMacSystemFont, "Suisse Intl", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
				"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
			background: #016ef2;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
			border-radius: 8px;
			border: none;
			padding: 0 30px;
		}
	}
}

@media all and (max-width: 400px) {
.newslist {
	.news_card {
		flex: 1 1 auto;
		width: auto;
		min-width: fit-content;
	}
}

}